* {
  padding: 0px;
  margin: 0px;
}

body {
  max-width: 1366px;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  transition: 0.5s;
}

#before {
  content: "";
  position: absolute;
  background-color: black;
  height: 45px;
  width: 110px;
  border-radius: 25px;
  bottom: 50%;
  left: 47%;
}

#after {
  content: "";
  position: absolute;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  bottom: 50.5%;
  left: 47.3%;
  z-index: 1;
  transition: 0.5s;
}

.black {
  background-color: black;
}
