* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
  max-width: 1366px;
  margin: 0px auto;
  width: 100%;
  background-color: rgb(36, 0, 36);
}

h1 {
  justify-content: center;
  margin-top: 280px;
  display: flex;
  gap: 5px;
  color: yellow;
}

span {
  color: white;
}
